body, html {
  /*font-size: 10px;*/
  margin: 0;
  padding: 0;
}
.page--header,
.page--footer {
  padding: 2rem;
  font-size: 2.4rem;
  text-align: center;
  background-color: goldenrod;
}
/*.grid {
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: auto;
  margin-right: auto;
}*/
.article--article {
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: auto;
  margin-right: auto;
}
.article--content {
  grid-column-start: 2;
  grid-column-end: 3;
}
.article--header {
  grid-column-start: 1;
  grid-column-end: 4;
}
.article--aside {
  grid-column-start: 1;
  grid-column-end: 2;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
figure img {
  width: 100%;
  height: auto;
}
